@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600&display=swap");
.category .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin: 9rem auto;
}
.category .container .box {
  width: 350px;
  height: 300px;
  position: relative;
  padding: 0;
  margin: 0 auto;
}
.category .container .box:nth-child(1) {
  background: #9FDED4 url("../images/Home/cat-1.png") no-repeat;
  background-position-x: 105%;
  background-position-y: 115%;
}
.category .container .box:nth-child(2) {
  background: #FA9522 url("../images/Home/cat-2.png") no-repeat;
  background-position-x: 90%;
  background-position-y: 90%;
}
.category .container .box:nth-child(3) {
  background: #AEDF23 url("../images/Home/cat-3.png") no-repeat;
  background-position-x: 90%;
  background-position-y: 90%;
}
.category .container .box .text {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  color: var(--white);
  text-transform: capitalize;
}
.category .container .box .text h3 {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.category .container .box .text a {
  color: var(--white);
}

@media (max-width: 991px) {
  .category .container {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
  .category .container .box {
    width: 330px;
  }
  .category .container .box h3 {
    font-size: 1.3rem !important;
  }
}
@media (max-width: 768px) {
  .category .container {
    grid-template-columns: 1fr;
  }
  .category .container .box {
    width: 330px;
  }
  .category .container .box h3 {
    font-size: 1.3rem !important;
  }
}
.trending {
  margin: 9rem 0;
}
.trending .container .main-title {
  margin-bottom: 3rem;
}

.banner {
  margin: 9rem 0;
}
.banner .container {
  padding: 0 3rem;
  height: 220px;
  background: url("../images/Home/Banner.png") center no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.banner .container .left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .container .left-text h3 {
  font-size: 3.3rem;
  color: var(--white);
  font-weight: 500;
}
.banner .container .left-text h3 span {
  color: yellow;
}
.banner .container .left-text a {
  color: var(--white);
  font-weight: 500;
}
.banner .container .right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .container .right-text p {
  font-size: 2.8rem;
  color: var(--white);
  font-weight: 500;
}

@media (max-width: 991px) {
  .banner .container {
    grid-template-columns: 1fr 3fr 1fr;
  }
}
@media (max-width: 786px) {
  .banner .container {
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }
  .banner .left-text h3 {
    font-size: 2.5rem !important;
  }
  .banner .right-text p {
    font-size: 2rem !important;
  }
}
.about {
  height: 790px;
  background: url("../images/Home/BackgroundAbout.png");
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 9rem;
  position: relative;
}
.about .slice {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.about .contentt {
  text-align: left;
  max-width: 610px;
  height: 647px;
  border-top: 3px solid var(--main-color);
  background-color: var(--white);
  margin-left: 35rem;
  padding: 5rem 3rem;
}
.about .contentt span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.3rem;
}
.about .contentt h3 {
  font-size: 2.8rem;
  line-height: 1;
  margin: 1rem 0;
}
.about .contentt p {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.about .contentt .p-2 {
  margin-bottom: 3rem;
}
.about .contentt .btn {
  padding: 1rem 3rem;
}
.about .contentt .btn:hover {
  background-color: var(--dark-main);
}

@media (max-width: 991px) {
  .about .contentt {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .about {
    align-items: center;
  }
  .about .slice {
    display: none;
  }
  .about .contentt {
    width: 95%;
    height: 100%;
  }
}
@media (max-width: 385px) {
  .about .contentt h3 {
    font-size: 2rem;
  }
  .about .contentt p {
    font-size: 1.2rem;
  }
}
.feature {
  margin-bottom: 9rem;
}
.feature .container {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}
.feature .container .col-app {
  display: none;
}
.feature .container .col .box {
  margin-bottom: 4rem;
  text-align: center;
}
.feature .container .col .box img {
  margin-bottom: 1rem;
}
.feature .container .col .box h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.feature .container .col .box p {
  font-size: 1.2rem;
  color: #777;
}
.feature .container .col .box .btn:hover {
  background-color: var(--dark-main);
}

@media (max-width: 991px) {
  .feature .container {
    display: flex;
    flex-direction: column;
  }
  .feature .container .col-app {
    display: block;
  }
  .feature .container .col-app img {
    max-width: 90%;
  }
  .feature .container .col-app-2 {
    display: none;
  }
  .feature .container p {
    margin: 0 auto;
    width: 200pt;
  }
}
.best-seller {
  min-height: 600px;
  margin-bottom: 9rem;
}
.best-seller .container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 3rem;
  flex-wrap: wrap;
}
.best-seller .container ul li {
  position: relative;
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: var(--black);
  cursor: pointer;
}
.best-seller .container ul li::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0%;
  height: 2px;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transtiom);
}
.best-seller .container ul li:hover::before {
  width: 100%;
}
.best-seller .container ul .active {
  color: var(--main-color);
}

.testimonial {
  margin-bottom: 9rem;
}
.testimonial .container .main-title {
  margin-bottom: 2rem;
}
.testimonial .container .contentt {
  display: flex;
  gap: 2rem;
}
.testimonial .container .contentt .box {
  width: 540px;
  background-color: var(--back-blue);
  padding: 4rem 2rem;
  border-top: 3px solid var(--main-color);
  line-height: 2;
}
.testimonial .container .contentt .box i.quot {
  font-size: 7rem;
  color: var(--main-color);
}
.testimonial .container .contentt .box p {
  font-size: 1.2rem;
  color: #777;
  font-style: italic;
  margin-bottom: 1rem;
}
.testimonial .container .contentt .box h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.testimonial .container .contentt .box h3 span {
  color: var(--main-color);
  font-weight: 500;
}
.testimonial .container .contentt .box .stars i {
  color: gold;
}

@media (max-width: 991px) {
  .testimonial .container .contentt {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .testimonial .container .contentt .box {
    width: 97%;
  }
}
:root {
  --main-color:#9fcb22;
  --dark-main:#14462e;
  --back-blue:#eef7fc;
  --red:#d9485b;
  --black:#000;
  --white:#fff;
  --transtiom:0.3s;
  --border: .1rem solid rgba(0, 0, 0, .1);
  --border-hover: .1rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.container {
  /* Padding for mobile view */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.btn {
  text-transform: uppercase;
  background-color: var(--main-color);
  padding: 1rem 2.5rem;
  font-weight: 500;
  color: var(--white);
}

.main-title {
  text-transform: capitalize;
  text-align: center;
}
.main-title span {
  color: var(--main-color);
  font-size: 1.3rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}
.main-title span a {
  color: var(--main-color);
}
.main-title h2 {
  font-size: 2.8rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}
.content .hot::before {
  content: "Hot";
  position: absolute;
  left: 0;
  top: 0;
  background: var(--red);
  padding: 0.5rem 1rem;
  color: var(--white);
  font-weight: 400;
  font-family: "Jost", sans-serif;
}
.content .box {
  position: relative;
  background-color: var(--back-blue);
  width: 350px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}
.content .box .img {
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.content .box .stars i {
  color: gold;
}
.content .box .stars .fa-regular {
  color: #ccc;
}
.content .box .info {
  text-align: center;
  line-height: 2;
  text-transform: capitalize;
}
.content .box .info h3 {
  font-size: 1.6rem;
}
.content .box .info p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-color);
}
.content .box .info p del {
  font-weight: 300;
  color: #ccc;
  margin-right: 0.3rem;
}
.content .box .info .btn {
  background-color: var(--dark-main);
  padding: 0.8rem 1.4rem;
  transition: var(--transtiom);
  -webkit-transition: var(--transtiom);
  -moz-transition: var(--transtiom);
  -ms-transition: var(--transtiom);
  -o-transition: var(--transtiom);
}
.content .box .info .btn:hover {
  background-color: var(--main-color);
}
.content .box:hover {
  border: 1px solid var(--main-color);
}
.content .box .fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
}
.content .box .fav:hover {
  background: var(--main-color) !important;
}
.content .box .fav:hover i {
  color: var(--white);
}
.content .box .fav i {
  padding: 1rem;
  color: gray;
}

.content {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.content .box {
  width: 320px;
}

.sponsor {
  margin-bottom: 15rem;
}
.sponsor .container img {
  display: block;
  width: 100%;
}

footer {
  min-height: 710px;
  color: var(--white);
  background-color: var(--dark-main);
  padding-bottom: 5rem;
}
footer .container {
  position: relative;
}
footer .container .box {
  position: absolute;
  top: -125px;
  width: 100%;
  height: 250px;
}
footer .container .box .sup {
  width: 100%;
  height: 250px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .box .sup img {
  width: 540px;
  height: 480px;
  z-index: 9999;
  position: absolute;
  left: -18%;
  top: -200px;
}
footer .container .box .sup .info {
  position: absolute;
  right: 10%;
  line-height: 2;
}
footer .container .box .sup .info h2 {
  font-size: 2.8rem;
}
footer .container .box .sup .info form input {
  border: 0;
  outline: 0;
  padding: 1rem;
  font-size: 1rem;
}
footer .container .box .sup .info form input[type=email] {
  width: 460px;
}
footer .container .box .sup .info form input[type=submit] {
  background-color: var(--dark-main);
  color: var(--white);
}
footer .footer {
  padding-top: 15rem;
}
footer .footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
footer .footer .container .col {
  line-height: 2;
  color: #6ea68b;
  text-transform: capitalize;
}
footer .footer .container .col h4 {
  color: var(--white);
  font-size: 1.3rem;
}
footer .footer .container .col a {
  color: #6ea68b;
  font-size: 1rem;
}
footer .footer .container .col a:hover {
  color: var(--white);
}
footer .footer .container .col .bold {
  font-weight: 600;
}
footer .footer .container .col-1 span {
  display: block;
}

@media (max-width: 1199px) {
  footer .container .box .sup img {
    width: 450px;
    height: unset;
    left: -18%;
    top: -140px;
  }
  footer .container .box .sup .info {
    right: 5%;
  }
  footer .container .box .sup .info h2 {
    font-size: 2rem;
  }
  footer .container .box .sup .info form {
    overflow: hidden;
  }
  footer .container .box .sup .info form input {
    display: block;
    margin-bottom: 0.5rem;
  }
  footer .container .box .sup .info form input[type=submit] {
    float: right;
  }
}
@media (max-width: 991px) {
  footer .container .box .sup .info {
    text-align: right;
    right: 3%;
  }
  footer .container .box .sup .info form input[type=email] {
    width: 370px;
  }
}
@media (max-width: 786px) {
  footer .container .box {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  footer .container .box .sup {
    margin: 0 auto;
    text-align: center;
  }
  footer .container .box .sup img {
    display: none;
  }
  footer .container .box .sup .info {
    position: relative;
    margin: 0 auto;
  }
  footer .container .box .sup .info input[type=email] {
    width: 100%;
  }
}
@media (max-width: 499px) {
  footer .container .box {
    width: 96%;
  }
  footer .container .box .sup .info h2 {
    font-size: 1.5rem;
  }
  footer .container .box .sup .info input[type=email] {
    width: 100% !important;
  }
  footer .container .box .sup .info input[type=submit] {
    width: 100% !important;
  }
}
@media (max-width: 549px) {
  .footer .container .col {
    margin: 2rem auto;
    text-align: center;
  }
}
.header {
  height: 100vh;
  background: var(--back-blue) url("../images/Home/Hero.png") center no-repeat;
  position: relative;
}
.header .slice {
  position: absolute;
  left: 0;
  top: 0;
}
.header .container {
  padding: 2rem 0;
}
.header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container nav .toggle-menu {
  display: none;
}
.header .container nav .toggle-menu i {
  color: var(--dark-main);
  font-size: 1.3rem;
  padding: 0.8rem 1.3rem;
  border-radius: 50%;
  transition: var(--transtiom);
}
.header .container nav .toggle-menu i:hover {
  color: var(--dark-main);
  background-color: #ddd;
}
.header .container nav .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.header .container nav .links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.header .container nav .links ul li {
  position: relative;
}
.header .container nav .links ul li a {
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: var(--black);
}
.header .container nav .links ul li::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0%;
  height: 2px;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transtiom);
}
.header .container nav .links ul li:hover::before {
  width: 100%;
}
.header .container nav .links .icons {
  z-index: 9999;
}
.header .container nav .links .icons a {
  margin: 0 0.3rem;
}
.header .container nav .links .icons a i {
  color: var(--main-color);
  background-color: var(--white);
  padding: 0.8rem;
  border-radius: 50%;
  transition: var(--transtiom);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header .container nav .links .icons a i:hover {
  color: var(--dark-main);
  background-color: #ddd;
}
.header .container nav .links .icons a:last-child {
  position: relative;
}
.header .container nav .links .icons a:last-child span {
  position: absolute;
  right: 0;
  background-color: var(--dark-main);
  color: var(--white);
  border-radius: 50%;
  padding: 0.1rem 0.3rem;
  font-size: 0.5rem;
}
.header .container header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .container header .text {
  text-align: left;
}
.header .container header .text span {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
}
.header .container header .text h1 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1.3rem;
}
.header .container header .text p {
  line-height: 1.5;
  margin-bottom: 3rem;
  font-weight: 500;
}
.header .container header .text .btns {
  display: flex;
  gap: 1rem;
}
.header .container header .text .btns .btn:last-child {
  background-color: var(--dark-main);
}

@media (max-width: 991px) {
  .header .container nav {
    justify-content: space-between;
  }
  .header .container nav .links ul {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    background-position: right;
  }
  .header .slice {
    display: none;
  }
  .header .container nav {
    padding: 0 2rem;
  }
  .header .container nav .links .icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -105%;
    top: 50%;
    gap: 0.6rem;
    transform: translateY(-50%);
    transition: var(--transtiom);
  }
  .header .container nav .toggle-menu {
    display: unset !important;
  }
  .header .container nav .toggle-menu i:hover .links .icons {
    right: 0 !important;
  }
  .header .container header {
    align-items: center;
  }
  .header .container header .text {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 0.5rem;
  }
  .header .container header .text .btns {
    justify-content: center;
  }
  .header .container header .text span {
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  .header .container header .text h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .header .container header .text p br {
    display: none;
  }
}
/* bottom navbar */
.bottom-navbar {
  text-align: center;
  background: var(--main-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: none;
}

@media (max-width: 768px) {
  .bottom-navbar {
    display: block;
  }
}
.bottom-navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  color: #fff;
}

.bottom-navbar a:hover {
  background: var(--dark-main);
}

/* Login Form */
.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 1000000;
  height: 100%;
  width: 100%;
}

.login-form-container form {
  background: #fff;
  border: var(--border);
  width: 30rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  margin: 2rem;
  border-radius: 0.5;
  -webkit-border-radius: 0.5;
  -moz-border-radius: 0.5;
  -ms-border-radius: 0.5;
  -o-border-radius: 0.5;
}
.login-form-container form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #444;
  text-align: center;
}
.login-form-container form span {
  display: block;
  font-size: 1.1rem;
  padding-top: 1rem;
  text-transform: capitalize;
}
.login-form-container form .box-input {
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.1rem;
  border: var(--border);
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-transform: none;
}
.login-form-container form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 0;
  text-transform: capitalize;
}
.login-form-container form .checkbox label {
  font-size: 1.1rem;
  color: #777;
  cursor: pointer;
}
.login-form-container form .Btn {
  border: 0;
  display: inline-block;
  padding: 0.9rem 3rem;
  color: #fff;
  background: var(--main-color);
  font-size: 1.7rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: var(--transtiom);
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}
.login-form-container form .Btn:hover {
  background: var(--dark-main);
  color: #fff;
}
.login-form-container form p {
  padding-top: 0.8rem;
  color: #666;
  font-size: 1.2rem;
}
.login-form-container form p a {
  color: var(--main-color);
  text-decoration: underline;
}

.login-form-container.active {
  right: 0;
}

.login-form-container #close-btn-login {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 3.5rem;
  color: #444;
  cursor: pointer;
}

.aboutheader {
  background: #F6FAFB url("../images/About/hero.png") center no-repeat;
  height: 60vh;
  margin-bottom: 9rem;
}
.aboutheader .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 385px;
  height: 200px;
  background-color: var(--white);
  border-top: 3px solid var(--main-color);
  padding: 3rem;
}

.featurePrice {
  margin-bottom: 9rem;
}
.featurePrice .container {
  display: flex;
  gap: 3rem;
}
.featurePrice .container img {
  width: 610px;
}
.featurePrice .container .text {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
.featurePrice .container .text h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.featurePrice .container .text p {
  font-size: 1.25rem;
}
.featurePrice .container .text p:last-child {
  margin-top: 1rem;
}

@media (max-width: 1199px) {
  .featurePrice .container img {
    width: 450px;
  }
  .featurePrice .container .text h2 {
    font-size: 2.5rem;
  }
  .featurePrice .container .text p {
    font-size: 1.1rem;
  }
}
@media (max-width: 991px) {
  .aboutheader {
    background-position: right;
  }
  .featurePrice .container {
    flex-direction: column;
  }
  .featurePrice .container img {
    width: 100%;
    margin: 0 auto;
  }
  .featurePrice .container .text {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .aboutheader .main-title {
    width: 97%;
  }
}
.our {
  height: 780px;
  background-color: var(--back-blue);
}
.our .container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.our .container .box {
  width: 540px;
  background-color: var(--white);
  border-top: 3px solid var(--main-color);
  height: 510px;
  padding: 4rem 3rem;
}
.our .container .box img {
  margin-bottom: 1rem;
}
.our .container .box h2 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.37rem;
}
.our .container .box p {
  line-height: 1.5;
  font-size: 1.25rem;
  margin-bottom: 4rem;
}
.our .container .box .btn:hover {
  background-color: var(--dark-main);
}

@media (max-width: 991px) {
  .our {
    height: auto;
  }
  .our .container {
    flex-direction: column;
    padding: 5rem 0;
  }
  .our .container .box {
    width: 95%;
    height: auto;
    text-align: center;
    margin-bottom: 2rem;
  }
}
.videoFood {
  margin-bottom: 9rem;
}
.videoFood .container .box {
  position: relative;
  width: 1110px;
  height: 640px;
}
.videoFood .container .box video {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.videoFood .container .box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.5);
  z-index: 9999;
}
.videoFood .container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 9999;
}

@media (max-width: 1199px) {
  .videoFood .container .box {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.bodyPage {
  min-height: 1400px;
  margin-bottom: 9rem;
}
.bodyPage .container .headerFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.bodyPage .container .headerFilter .left {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.bodyPage .container .headerFilter .left form input {
  outline: 0;
  border: 0;
  background-color: var(--back-blue);
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
.bodyPage .container .headerFilter .left .sort {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.bodyPage .container .headerFilter .left .sort i {
  background-color: var(--back-blue);
  font-size: 1.6rem;
  padding: 1rem;
  color: #777;
  cursor: pointer;
}
.bodyPage .container .headerFilter .left .sort .active {
  background-color: var(--main-color);
  color: var(--white);
}
.bodyPage .container .headerFilter .left .sort span {
  font-size: 1.2rem;
}
.bodyPage .container .headerFilter .select select {
  outline: 0;
  border: 0;
  background-color: var(--back-blue);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #777;
}
.bodyPage .container .body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
.bodyPage .container .body .cat {
  padding: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #e6e6e6;
  margin-bottom: 2rem;
}
.bodyPage .container .body .cat #viewMore {
  font-weight: 600;
  color: var(--main-color);
  font-size: 1rem;
}
.bodyPage .container .body .cat .item {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
.bodyPage .container .body .cat .item .img {
  height: 100px;
  width: 100px;
  background-color: var(--back-blue);
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}
.bodyPage .container .body .cat .item .img img {
  height: 100%;
}
.bodyPage .container .body .cat .item .info h3 {
  font-size: 1rem;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.bodyPage .container .body .cat .item .info p {
  color: var(--main-color);
  font-weight: 600;
}
.bodyPage .container .body .cat .item .info p del {
  color: #777;
  margin-right: 0.5rem;
}
.bodyPage .container .body .cat .item .info .stars i {
  font-size: 0.6rem;
  color: goldenrod;
}
.bodyPage .container .body .cat input[type=range] {
  width: 100%;
}
.bodyPage .container .body .cat h3 {
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  text-transform: capitalize;
}
.bodyPage .container .body .cat .brand {
  margin-top: 1.5rem;
}
.bodyPage .container .body .cat .brand input {
  display: none;
}
.bodyPage .container .body .cat .brand .brand-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.bodyPage .container .body .cat .brand label {
  color: #777;
  font-size: 1.2rem;
}
.bodyPage .container .body .cat .brand .view-icon {
  display: block;
}
.bodyPage .container .body .cat .brand .checkbox {
  padding: 0 0.2rem;
  border: 2px solid #c7c7cd;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bodyPage .container .body .cat .brand .checkbox i {
  font-size: 1rem;
  color: var(--white);
}
.bodyPage .container .body .cat .brand .view {
  background-color: var(--main-color);
  border: 0;
}
.bodyPage .container .body .cat .size {
  border-bottom: 0;
}
.bodyPage .container .body .products {
  padding: 2rem;
}
.bodyPage .container .body .products .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

@media (max-width: 1199px) {
  .bodyPage .container .headerFilter {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  .bodyPage .container .headerFilter .left {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  .bodyPage .container .body {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .bodyPage .container .body .products {
    padding: 0;
  }
}
.rowProducts {
  display: flex !important;
  gap: 1rem;
  flex-direction: column !important;
}
.rowProducts .box {
  background-color: var(--back-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 3rem;
  gap: 1rem;
  width: 100%;
  position: relative;
}
.rowProducts .box .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowProducts .box .fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
}
.rowProducts .box .fav:hover {
  background: var(--main-color) !important;
}
.rowProducts .box .fav:hover i {
  color: var(--white);
}
.rowProducts .box .fav i {
  padding: 1rem;
  color: gray;
}
.rowProducts .box .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 240px;
}
.rowProducts .box .info h3 {
  font-size: 2.5rem;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.rowProducts .box .info p {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.rowProducts .box .info p del {
  color: #777;
  margin-right: 0.5rem;
}
.rowProducts .box .info .stars i {
  font-size: 1.2rem;
  color: goldenrod;
}
.rowProducts .box .info .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 786px) {
  .rowProducts .box img {
    height: 250px;
    width: 250px;
    background-color: var(--back-blue);
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
  }
  .rowProducts .box img img {
    height: 100%;
  }
  .rowProducts .box .info h3 {
    font-size: 1.5rem;
  }
  .rowProducts .box .info p {
    font-size: 1rem;
  }
  .rowProducts .box .info .stars i {
    font-size: 1rem;
  }
}
@media (max-width: 520px) {
  .rowProducts .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .rowProducts .box .info {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
.detail {
  margin-bottom: 9rem;
}
.detail .container {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.detail .container .images {
  display: flex;
}
.detail .container .images .miniImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail .container .images .miniImg .img {
  width: 100px;
  background-color: var(--back-blue);
  margin: 1rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail .container .images .miniImg .img img {
  width: 100%;
}
.detail .container .images .miniImg .img:hover {
  border: 1px solid var(--main-color);
}
.detail .container .images .bigImg {
  background-color: var(--back-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail .container .info h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.detail .container .info .stars {
  margin-bottom: 1rem;
}
.detail .container .info .stars i {
  color: gold;
}
.detail .container .info p {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-color);
}
.detail .container .info p del {
  color: #777;
  font-weight: 400;
  font-size: 1.7rem;
  margin-right: 0.8rem;
}
.detail .container .info .num {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.detail .container .info .num .btn {
  background-color: var(--dark-main);
}
.detail .container .info .num .btn:hover {
  background-color: var(--main-color);
}
.detail .container .info .num .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: var(--main-color);
  min-width: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.detail .container .info .num .wrapper span {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}
.detail .container .info .num .wrapper span.numb {
  border-right: 1px solid var(--white);
  border-left: 1px solid var(--white);
  pointer-events: none;
}
.detail .container .info .num .wrapper .plus,
.detail .container .info .num .wrapper .minus {
  cursor: pointer;
}
.detail .container .info .overview {
  margin-bottom: 1rem;
}
.detail .container .info .overview h3 {
  font-size: 1.5rem;
}
.detail .container .info .overview p {
  color: #777;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.5;
}
.detail .container .info .share {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.detail .container .info .share h3 {
  font-size: 1.5rem;
}
.detail .container .info .share a {
  color: var(--main-color);
  font-size: 1.25rem;
}
.detail .container .info .share a:hover {
  color: var(--dark-main);
}
.detail .container .info .featureProd {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.detail .container .info .featureProd .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #d5d5d5;
  padding: 1rem;
}
.detail .container .info .featureProd .box h4 {
  font-size: 1.375rem;
}
.detail .container .info .featureProd .box img {
  width: 60px;
}

@media (max-width: 1199px) {
  .detail .container {
    flex-direction: column;
  }
}
@media (max-width: 786px) {
  .detail .container .images {
    flex-direction: column-reverse;
  }
  .detail .container .images .miniImg {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .detail .container .images .miniImg .img {
    height: auto;
  }
  .detail .container .images .miniImg .img img {
    width: 100%;
  }
  .detail .container .images .bigImg {
    margin: 0 auto;
    max-width: 95%;
  }
  .detail .container .images .bigImg img {
    width: 100%;
  }
  .detail .container .info h2 {
    font-size: 2.3rem;
  }
  .detail .container .info .num {
    flex-direction: column;
    align-items: flex-start;
  }
  .detail .container .info .featureProd {
    flex-direction: column;
    align-items: flex-start;
  }
  .detail .container .info .featureProd .box {
    width: 250px;
  }
}
.discrip {
  margin-bottom: 9rem;
}
.discrip .container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e5e5;
}
.discrip .container ul li {
  position: relative;
  font-size: 1.3rem;
  cursor: pointer;
}
.discrip .container ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  top: 2.85rem;
  transition: var(--transtiom);
  -webkit-transition: var(--transtiom);
  -moz-transition: var(--transtiom);
  -ms-transition: var(--transtiom);
  -o-transition: var(--transtiom);
}
.discrip .container ul li:hover::before {
  width: 100%;
}
.discrip .container ul .active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  top: 2.85rem;
}
.discrip .container p {
  font-size: 1.25rem;
  color: #777;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.contentt {
  margin-bottom: 9rem;
}
.contentt .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}
.contentt .container .bar-filter {
  text-align: right;
  display: none;
  margin-bottom: 1rem;
}
.contentt .container .bar-filter i {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.contentt .container .bar-filter i:active {
  color: var(--main-color);
  background-color: #e7e5e5;
  padding: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.contentt .container .posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.contentt .container .posts .box {
  width: 396px;
  background-color: #f1f2f2;
  margin: 0 auto;
}
.contentt .container .posts .box .img {
  width: 100%;
  overflow: hidden;
}
.contentt .container .posts .box .img img {
  width: 100%;
}
.contentt .container .posts .box .img:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.contentt .container .posts .box .text {
  padding: 2rem 2rem 4rem;
}
.contentt .container .posts .box .text span {
  font-size: 1rem;
  color: #6c6c6c;
  margin-bottom: 1rem;
  display: block;
}
.contentt .container .posts .box .text span a {
  font-weight: 500;
  color: var(--main-color);
}
.contentt .container .posts .box .text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.contentt .container .posts .box .text p {
  color: #6c6c6c;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}
.contentt .container .posts .box .text .btn {
  background-color: var(--dark-main);
}
.contentt .container .posts .box .text .btn:hover {
  background-color: var(--main-color);
}
.contentt .container .side-bar .close {
  text-align: right;
  display: none;
}
.contentt .container .side-bar .close i {
  font-size: 2rem;
}
.contentt .container .side-bar .close i:active {
  color: red;
}
.contentt .container .side-bar form {
  margin-bottom: 2rem;
}
.contentt .container .side-bar form input {
  outline: 0;
  border: 0;
  background-color: var(--back-blue);
  font-size: 1.2rem;
  padding: 1rem;
}
.contentt .container .side-bar .boxes {
  border: 1px solid #e7e5e5;
  padding: 2rem 2rem 3rem;
  margin-bottom: 3rem;
}
.contentt .container .side-bar .boxes h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.contentt .container .side-bar .boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.contentt .container .side-bar .boxes .box h4 {
  font-size: 1rem;
}
.contentt .container .side-bar .boxes .box h4 a {
  color: var(--black);
  font-family: "Jost", sans-serif;
  font-weight: 700;
}
.contentt .container .side-bar .boxes .box h4 a:hover {
  color: var(--main-color);
}
.contentt .container .side-bar .boxes .box span {
  font-size: 0.875rem;
}
.contentt .container .side-bar .boxes .box:hover {
  margin-left: 0.2rem;
}
.contentt .container .side-bar .boxes a {
  color: var(--main-color);
  font-weight: 600;
}
.contentt .container .side-bar .boxes a:hover {
  margin-left: 0.5rem;
}
.contentt .container .side-bar .boxes-2 span {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--main-color);
}
.contentt .container .side-bar .boxes-2 span a {
  color: #6c6c6c;
  padding-left: 0.5rem;
}
.contentt .container .side-bar .boxes-2 span a:hover {
  margin-left: 0;
  color: var(--main-color);
}
.contentt .container .side-bar .boxes-2 span:hover {
  margin-left: 0.5rem;
}

@media (max-width: 786px) {
  .contentt .container {
    display: block;
  }
  .contentt .container .bar-filter {
    display: block;
  }
  .contentt .container .posts {
    display: block;
  }
  .contentt .container .posts .box {
    width: 95%;
    margin-bottom: 3rem;
  }
  .contentt .container .side-bar {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--white);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    padding: 2rem;
    z-index: 99999;
    display: none;
  }
  .contentt .container .side-bar .close {
    display: block;
  }
}
.form {
  margin-bottom: 9rem;
}
.form .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .container .card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--back-blue);
  justify-content: center;
  align-items: center;
}
.form .container .card form {
  background-color: var(--back-blue);
  margin-right: 2rem;
  padding: 3rem 2rem;
}
.form .container .card form h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.form .container .card form .info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.form .container .card form .info input {
  outline: 0;
  border: 0;
  font-size: 1.2rem;
  padding: 1rem;
}
.form .container .card form textarea {
  outline: 0;
  border: 0;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
}
.form .container .card form textarea::-webkit-scrollbar {
  display: none;
}
.form .container .card form .btn {
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}
.form .container .card form .btn:hover {
  background-color: var(--dark-main);
}
.form .container .card .reachUs {
  background-color: var(--main-color);
  color: var(--white);
  padding: 3rem 4rem 3rem 3rem;
}
.form .container .card .reachUs h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.form .container .card .reachUs p {
  font-weight: 200;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.form .container .card .reachUs .box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.form .container .card .reachUs .box i {
  font-size: 3rem;
}
.form .container .card .reachUs .box .text {
  margin-left: 1rem;
}
.form .container .card .reachUs .box .text h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.form .container .card .reachUs .box .text span {
  color: #e9ebeb;
  font-size: 1.2rem;
  display: block;
  line-height: 1.6;
}

@media (max-width: 991px) {
  .form .container .card {
    grid-template-columns: 1fr;
  }
  .form .container .card form {
    margin-right: 0;
  }
}
@media (max-width: 786px) {
  .form .container .card {
    width: 95%;
  }
  .form .container .card form .info {
    grid-template-columns: 1fr;
  }
  .form .container .card .reachUs {
    width: 100%;
    text-align: center;
  }
  .form .container .card .reachUs p {
    margin-bottom: 3rem;
  }
  .form .container .card .reachUs .box {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    padding: 0;
  }
  .form .container .card .reachUs .box .text {
    margin-left: 0;
  }
}
.map {
  margin-bottom: 9rem;
  height: 600px;
  width: 100%;
}
.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}/*# sourceMappingURL=style.css.map */