.header {
    height: 100vh;
    background: var(--back-blue) url("../images/Home/Hero.png") center;
    position: relative;

    .slice {
        position: absolute;
        left: 0;
        top: 0;
    }

    .container {
        padding: 2rem 0;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .toggle-menu {
                display: none;

                i {
                    color: var(--dark-main);
                    font-size: 1.3rem;
                    padding: .8rem 1.3rem;
                    border-radius: 50%;
                    transition: var(--transtiom);

                    // background-color: var(--white);
                    &:hover {
                        color: var(--dark-main);
                        background-color: #ddd;
                    }
                }
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 2rem;

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    gap: 2rem;

                    li {
                        position: relative;

                        a {
                            font-size: 1.2rem;
                            font-family: 'Barlow', sans-serif;
                            font-weight: 500;
                            color: var(--black);
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            background-color: var(--main-color);
                            width: 0%;
                            height: 2px;
                            bottom: -.3rem;
                            left: 50%;
                            transform: translateX(-50%);
                            transition: var(--transtiom);

                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }
                }

                .icons {
                    a {
                        margin: 0 .3rem;

                        i {
                            color: var(--main-color);
                            background-color: var(--white);
                            padding: .8rem;
                            border-radius: 50%;
                            transition: var(--transtiom);

                            &:hover {
                                color: var(--dark-main);
                                background-color: #ddd;
                            }
                        }

                        &:last-child {
                            position: relative;

                            span {
                                position: absolute;
                                right: 0;
                                // top: 0;
                                background-color: var(--dark-main);
                                color: var(--white);
                                border-radius: 50%;
                                padding: .1rem .3rem;
                                font-size: .5rem;
                            }
                        }
                    }
                }
            }
        }

        header {
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .text {
                text-align: left;

                span {
                    color: var(--main-color);
                    font-weight: 500;
                    font-size: 1.2rem;
                    margin-bottom: 1.3rem;
                }

                h1 {
                    font-size: 4rem;
                    line-height: 1;
                    margin-bottom: 1.3rem;
                }

                p {
                    line-height: 1.5;
                    margin-bottom: 3rem;
                    font-weight: 500;
                }

                .btns {
                    display: flex;
                    gap: 1rem;

                    .btn {
                        &:last-child {
                            background-color: var(--dark-main);
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:991px) {
    .header {
        .container {
            nav {
                justify-content: space-between;

                .links {
                    ul {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        background-position: right;

        .slice {
            display: none;
        }

        .container {
            nav {
                padding: 0 2rem;

                .links {

                    // display: none;
                    .icons {
                        display: flex;
                        flex-direction: column;
                        position: fixed;
                        right: -105%;
                        top: 50%;
                        gap: .6rem;
                        transform: translateY(-50%);
                        transition: var(--transtiom);
                    }
                }

                .toggle-menu {
                    display: unset !important;

                    i {
                        &:hover {
                            .links {
                                .icons {
                                    right: 0 !important;
                                }
                            }
                        }
                    }
                }
            }

            header {
                align-items: center;

                .text {
                    text-align: center;
                    background-color: rgba(255, 255, 255, .8);
                    padding: 2rem;
                    border-radius: .5rem;

                    .btns {
                        justify-content: center;
                    }

                    span {
                        font-size: 1rem;
                        display: inline-block;
                        margin-bottom: 1.5rem;
                    }

                    h1 {
                        font-size: 2rem;
                        margin-bottom: 1.5rem;
                    }

                    p {
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

}

/* bottom navbar */
.bottom-navbar {
    text-align: center;
    background: var(--main-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
}

@media (max-width:768px) {
    .bottom-navbar {
        display: block;
    }
}

.bottom-navbar a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--dark-main);
}

// Form Login
/* Login Form */
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 1000000;
    height: 100%;
    width: 100%;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 30rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    margin: 2rem;
    border-radius: .5;
    -webkit-border-radius: .5;
    -moz-border-radius: .5;
    -ms-border-radius: .5;
    -o-border-radius: .5;

    h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #444;
        text-align: center;
    }

    span {
        display: block;
        font-size: 1.1rem;
        padding-top: 1rem;
        text-transform: capitalize;
    }

    .box-input {
        width: 100%;
        margin: .7rem 0;
        font-size: 1.1rem;
        border: var(--border);
        padding: .8rem 1.2rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        text-transform: none;
    }

    .checkbox {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .8rem 0;
        text-transform: capitalize;

        label {
            font-size: 1.1rem;
            color: #777;
            cursor: pointer;
        }
    }

    .Btn {
        border: 0;
        display: inline-block;
        padding: .9rem 3rem;
        color: #fff;
        background: var(--main-color);
        font-size: 1.7rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        transition: var(--transtiom);
        cursor: pointer;
        text-align: center;
        width: 100%;
        margin: 1.5rem 0;

        &:hover {
            background: var(--dark-main);
            color: #fff;
        }
    }

    p {
        padding-top: .8rem;
        color: #666;
        font-size: 1.2rem;

        a {
            color: var(--main-color);
            text-decoration: underline;
        }
    }
}

.login-form-container.active {
    right: 0;
}

.login-form-container #close-btn-login {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 3.5rem;
    color: #444;
    cursor: pointer;
}

// category
.category {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 2rem;
        margin: 9rem auto;

        .box {
            width: 350px;
            height: 300px;
            position: relative;
            padding: 0;
            margin: 0 auto;

            &:nth-child(1) {
                background: #9FDED4 url("../images/Home/cat-1.png") no-repeat;
                background-position-x: 105%;
                background-position-y: 115%;
            }

            &:nth-child(2) {
                background: #FA9522 url("../images/Home/cat-2.png") no-repeat;
                background-position-x: 90%;
                background-position-y: 90%;
            }

            &:nth-child(3) {
                background: #AEDF23 url("../images/Home/cat-3.png") no-repeat;
                background-position-x: 90%;
                background-position-y: 90%;
            }

            .text {
                position: absolute;
                top: 50%;
                left: 2rem;
                transform: translateY(-50%);
                color: var(--white);
                text-transform: capitalize;

                h3 {
                    font-weight: 400;
                    font-size: 1.6rem;
                    margin-bottom: 1.5rem;
                }

                a {
                    color: var(--white);
                }
            }
        }
    }
}

@media (max-width:991px) {
    .category {
        .container {
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));

            .box {
                width: 330px;

                h3 {
                    font-size: 1.3rem !important;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .category {
        .container {
            grid-template-columns: 1fr;

            .box {
                width: 330px;

                h3 {
                    font-size: 1.3rem !important;
                }
            }
        }
    }
}

// trending
.trending {
    margin: 9rem 0;

    .container {
        .main-title {
            margin-bottom: 3rem;
        }
    }
}

// banner
.banner {
    margin: 9rem 0;

    .container {
        padding: 0 3rem;
        height: 220px;
        background: url("../images/Home/Banner.png") center no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;

        .left-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-size: 3.3rem;
                color: var(--white);
                font-weight: 500;

                span {
                    color: yellow;
                }
            }

            a {
                color: var(--white);
                font-weight: 500;
            }
        }

        .right-text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                font-size: 2.8rem;
                color: var(--white);
                font-weight: 500;
            }
        }
    }
}

@media (max-width:991px) {
    .banner {
        .container {
            grid-template-columns: 1fr 3fr 1fr;
        }
    }
}

@media (max-width:786px) {
    .banner {
        .container {
            grid-template-columns: 1fr 3fr;
            gap: 2rem;
        }

        .left-text {
            h3 {
                font-size: 2.5rem !important;
            }
        }

        .right-text {
            p {
                font-size: 2rem !important;

            }
        }
    }
}

// about
.about {
    height: 790px;
    background: url("../images/Home/BackgroundAbout.png");
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 9rem;
    position: relative;

    .slice {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    .contentt {
        text-align: left;
        max-width: 610px;
        height: 647px;
        border-top: 3px solid var(--main-color);
        background-color: var(--white);
        margin-left: 35rem;
        padding: 5rem 3rem;

        span {
            color: var(--main-color);
            font-weight: 600;
            font-size: 1.3rem;
        }

        h3 {
            font-size: 2.8rem;
            line-height: 1;
            margin: 1rem 0;
        }

        p {
            line-height: 1.6;
            font-size: 1.2rem;
            margin-bottom: 1rem;

        }

        .p-2 {
            margin-bottom: 3rem;
        }

        .btn {
            padding: 1rem 3rem;

            &:hover {
                background-color: var(--dark-main);
            }
        }
    }
}

@media (max-width:991px) {
    .about {
        .contentt {
            margin-left: 0;
        }
    }
}

@media (max-width:768px) {
    .about {
        .slice {
            display: none;
        }

        align-items: center;

        .contentt {
            width: 95%;
            height: 100%;
        }
    }
}

@media (max-width:385px) {
    .about {
        .contentt {
            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }
}

// Feature
.feature {
    margin-bottom: 9rem;

    .container {
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;

        .col-app {
            display: none;
        }

        .col {
            .box {
                margin-bottom: 4rem;
                text-align: center;

                img {
                    margin-bottom: 1rem;
                }

                h3 {
                    font-size: 1.6rem;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1.2rem;
                    color: #777;
                }

                .btn {
                    &:hover {
                        background-color: var(--dark-main);
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    .feature {
        .container {
            display: flex;
            flex-direction: column;

            .col-app {
                display: block;

                img {
                    max-width: 90%;
                }
            }

            .col-app-2 {
                display: none;
            }

            p {
                margin: 0 auto;
                width: 200pt;
                // padding:0 10rem;
            }
        }
    }
}

// best-seller
.best-seller {
    min-height: 600px;
    margin-bottom: 9rem;

    .container {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;
            gap: 3rem;
            flex-wrap: wrap;
            li {
                position: relative;
                font-size: 1.2rem;
                font-family: 'Barlow', sans-serif;
                font-weight: 500;
                color: var(--black);
                cursor: pointer;

                &::before {
                    content: '';
                    position: absolute;
                    background-color: var(--main-color);
                    width: 0%;
                    height: 2px;
                    bottom: -.3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: var(--transtiom);
                }

                &:hover::before {
                    width: 100%;
                }
            }

            .active {
                color: var(--main-color);
            }
        }
    }
}


// testimonial
.testimonial {
    margin-bottom: 9rem;

    .container {
        .main-title{
            margin-bottom: 2rem;
        }
        .contentt {
            display: flex;
            gap: 2rem;

            .box {
                width: 540px;
                background-color: var(--back-blue);
                padding: 4rem 2rem;
                border-top: 3px solid var(--main-color);
                line-height: 2;
                i.quot{
                    font-size: 7rem;
                    color: var(--main-color);
                }
                p{
                    font-size: 1.2rem;
                    color: #777;
                    font-style: italic;
                    margin-bottom: 1rem;
                }
                h3{
                    font-size: 1.2rem;
                    text-transform: capitalize;
                    span{
                        color: var(--main-color);
                        font-weight: 500;

                    }
                }
                .stars{
                    i{
                        color: gold;
                    }
                }
            }
        }
    }
}
@media (max-width:991px){
    .testimonial{
        .container{
            .contentt{
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
@media (max-width:991px){
    .testimonial{
        .container{
            .contentt{
                .box{
                    width: 97%;
                }
            }
        }
    }
}
// sponsor
.sponsor{
    margin-bottom: 9rem;
    .container{
        img{
            display: block;
            width: 100%;
        }
    }
}
