:root{
    --main-color:#9fcb22;
    --dark-main:#14462e;
    --back-blue:#eef7fc;
    --red:#d9485b;
    --black:#000;
    --white:#fff;
    --transtiom:0.3s; 
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}